*
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!tsconfig*.json
!vite.config.ts
!vitest.config.ts
!index.html
!server/**
!shared/**
!src/**
!public/**
!tests/**
!config/catalog.example.yaml
!Dockerfile
!LICENSE
!THIRD_PARTY_NOTICES.md
!docs/licenses/**
